* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
  line-height: 140%;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

.hero-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
btn:active {
  background-color: #cf6d17;
}

.btn-action {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-ghost:hover {
  color: #fff;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.section-features .long-copy {
  margin-bottom: 40px;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.icon-box {
  padding: 1%;
}

.icon-box p {
  font-size: 90%;
  line-height: 145%;
}

.icon-box i {
  color: #e67e22;
  margin-bottom: 10px;
  display: block;
}

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  backface-visibility: hidden;
}

.meal-photo img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  transform: scale(1.3);
  transition: all 0.3s;
}

.meal-photo img:hover {
  transform: scale(1.04);
  opacity: 1;
}

.section-steps {
  background-color: #e2e2e2;
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 120px;
}

.app-screen {
  width: 50%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app {
  text-decoration: none;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.box h3 {
  margin-bottom: 20px;
}

.city-feature {
  margin-bottom: 10px;
}

.city-feature a:link,
.city-feature a:active,
.city-feature a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
}

.icon-small {
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;

  /* Align icons to text */
  font-size: 120%;
  vertical-align: middle;
  margin-top: -3px;
}

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/assets/images/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-size: 95%;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 20px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.section-plans {
  background-color: #e2e2e2;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 400;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #e67e22;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: 1px solid #cf6d17;
}

footer {
  background-color: #333;
  padding: 25px 0 25px 0;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-nav {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li a,
.social-nav li a {
  color: #e67e22;
  text-decoration: none;
}

.footer-nav li:last-child,
.social-nav li:last-child {
  margin: 0;
}

.copyright {
  font-weight: 300;
  font-size: 70%;
  margin-top: 50px;
  color: #fff;
}
